<div class="row">

    <div class="col-md-4 col-xs-6">
        <div class="well well-lg text-center">
            <h4 class="h4-custom find-your-product">FIND YOUR PRODUCT</h4>
            <button class="btn btn-default btn-lg btn-block" {{action 'levelOneClicked'}}>{{levelOneSelection.name}} <span class={{levelOneChevron}} aria-hidden="true"></span>
            </button>
            <button class="btn btn-default btn-lg btn-block" {{action 'levelTwoClicked'}}>{{levelTwoSelectionString}} <span class={{levelTwoChevron}} aria-hidden="true"></span>
            </button>
            <button class="btn btn-default btn-lg btn-block" {{action 'brandsClicked'}}>{{brandSelectionString}} <span class={{brandsChevron}} aria-hidden="true"></span>
            </button>
            <h4 class="text-center h4-custom prices">
                <div class="pull-left">R{{displayedMinPrice}}</div>
                Price Range
                <div class="pull-right">R{{displayedMaxPrice}}</div>
            </h4>
            <div class="slider">{{range-slider start=actualMinMaxPrice range=priceRange change="sliderChanged" slide="sliderSliding"}}</div>
            <h4 class="h4-custom products-available">{{availableItems.length}} Products Available</h4>

            <p><a href=# {{action 'resetAll'}}>Reset All</a></p>
            <button class="btn btn-success btn-lg btn-block" {{action 'viewProductsClicked'}}>VIEW PRODUCTS</button>
        </div>
    </div>

    <div class="col-md-8 col-xs-6">

      {{#if levelOneDisplayed}}
          <div class="well well-lg">
              <h4 class="h4-custom">Select a Category</h4>
            {{#each item in levelOneItems}}
              {{#if item.selected}}
                  <button class="btn btn-primary btn-lg" {{action 'levelOneSelectionClicked' item.id}}>{{item.name}} </button>
              {{else}}
                  <button class="btn btn-default btn-lg" {{action 'levelOneSelectionClicked' item.id}}>{{item.name}} </button>
              {{/if}}
            {{/each}}
          </div>
      {{/if}}

      {{#if levelTwoDisplayed}}
          <div class="well well-lg">
              <h4 class="h4-custom">Select Product Options</h4>
            {{#each item in levelTwoItems}}
              {{#if item.selected}}
                  <button class="btn btn-primary btn-lg" {{action 'levelTwoSelectionClicked' item.id}}>{{item.name}} </button>
              {{else }}
                  <button class="btn btn-default btn-lg" {{action 'levelTwoSelectionClicked' item.id}}>{{item.name}} </button>
              {{/if}}
            {{/each}}
          </div>
      {{/if}}

      {{#if brandsDisplayed}}
          <div class="well well-lg">
              <h4 class="h4-custom">Select Your Brands</h4>
            {{#each brand in availableBrands}}
              {{#if brand.selected}}
                  <button class="btn btn-primary btn-lg" {{action 'brandSelectionClicked' brand.name}}>{{brand.name}} </button>
              {{else }}
                  <button class="btn btn-default btn-lg" {{action 'brandSelectionClicked' brand.name}}>{{brand.name}} </button>
              {{/if}}
            {{/each}}
          </div>
      {{/if}}

    </div>

</div>

<div>
  {{#if displayProducts}}
    {{#if noProductsFound}}
        Sorry, no products match your search. Please try again.
        <br/>
        <img src="img/sad-cupcake.png" height="200px">
    {{/if}}

    {{#each item in availableItems}}
        <div class="product well">
            {{#if item.image}}
                <img class="img-rounded img-responsive" src={{item.image}}>
            {{/if}}
          {{#unless item.image}}
              <img class="img-rounded img-responsive" src="img/no-image.jpg">
          {{/unless}}
            <br/>

            <p class="brand">{{item.brand}}</p>

            <p class="product-name">{{item.name}} </p>

            <p class="price"> R {{item.price}} </p>
        </div>
    {{/each}}

  {{/if}}
</div>